<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="DRAEGER PERU S.A.C">
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
    <!--<link rel="icon" type="image/png" href="imagen_64.png" sizes="64x64">-->
    <link rel="icon" type="image/png" href="img/favicon-96x96.png" sizes="96x96">
    <!--<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">-->

    <title>Dasboard-Home</title>
    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet">

   
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-info flex-md-nowrap p-0 shadow ">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="https://www.draeger.com/es_csa/Locations/Peru" target="_blank">Draeger Perú Sac</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <form class="d-flex">
      <% if (user) { %>
        <a class="nav-link" aria-current="page" href="#"><%= user.user %></a>
        <% } %>
      <a type="button" class="px-3 btn btn-danger" href="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
      </form>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-info sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <!--<i class="fa fa-home" aria-hidden="true"></i> -->
            <a class="nav-link active" aria-current="page" href="/dashboard"><i class="fa fa-home"> </i>Home</a>
          
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/manuales"><i class="fa fa-book"> </i>Manuales</a>
          </li>
        <li class="nav-item">
            <a class="nav-link oculto" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
              <!--<span data-feather="shopping-cart"></span>-->
              Logout
            </a>
        </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>-->
        </ul>
      </div>
      <div class="divlogo">
        <img src="img/draeger_logo_transparente.png" class="imglogo">
      </div>
    </nav>

    <!-- Contenido principal   -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="ocultomovil"> Dashboard</h2>
        <h2>Bienvenido:
          <% if (user) { %>
            <span class="badge bg-success"><%= user.name %></span>
          <% } %>
        </h2>
      </div> 


      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
                <div class="card-block">
                  <h5 class="card-title">
                    Industria de alimentos
                  </h5>
                  <p class="card-text">
                    Los gases industriales (como el amoniaco, el dióxido de carbono, el cloro y el ozono) son fundamentales para el procesamiento de alimentos, en particular para la congelación, el enfriamiento, la carbonatación y la esterilización. Sin embargo, estos gases pueden suponer un peligro tanto para los trabajadores como para las instalaciones. Como líder en detección de gases y equipos de protección respiratoria, Dräger puede trabajar con usted a fin de encontrar la solución óptima para su operación de procesamiento de alimentos.
                  </p>
                  <p>
                    <a class="btn btn-primary" href="https://www.draeger.com/es_mx/Safety/Food-Beverage-Industry" target="_blank">Ir</a> <!--<a class="btn" href="#">Action</a>-->
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
                <div class="card-block">
                  <h5 class="card-title">
                    Industria Minera
                  </h5>
                  <p class="card-text">
                    Los mineros han confiado en los equipos de seguridad y en la calidad de los productos Dräger para proteger sus vidas. Nuestras soluciones técnicas se inscriben en un concepto integral de seguridad destinado a mejorar la seguridad de las minas. Comienza con la protección respiratoria y los detectores de gas para la seguridad diaria del lugar de trabajo, y continúa con los autorrescatadores autónomos y los refugios para situaciones de emergencia.
                  </p>
                  <p>
                    <a class="btn btn-primary" href="https://www.draeger.com/es_csa/Safety/Mining" target="_blank">Ir</a> <!--<a class="btn" href="#">Action</a>-->
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card">
                <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
                <div class="card-block">
                  <h5 class="card-title">
                    Industria Oil&Gas
                  </h5>
                  <p class="card-text">
                    La salud y la seguridad en el trabajo en la industria química, de gas y petróleo han mejorado constantemente en las últimas décadas. Sin embargo, todavía queda mucho margen de mejora: con la automatización del lugar de trabajo y el monitoreo de la planta, es posible instaurar medidas de prevención de accidentes más proactivas y una gestión inteligente de los datos en la era de los macrodatos. Para hacer frente a estos desafíos, aproveche nuestros conocimientos, nuestras soluciones prácticas y nuestro compromiso con la calidad: por su seguridad, su eficiencia y su futuro.
                  <p>
                    <a class="btn btn-primary" href="https://www.draeger.com/es_mx/Safety/Oil-Gas-Chemical-Industry" target="_blank">Ir</a> <!--<a class="btn" href="#">Action</a>-->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>





    </main>



  </div>






</div>

    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- choose one -->
<script src="https://unpkg.com/feather-icons"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
   <!---<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>-->
  </body>
</html>